.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
  margin-top: 0px;
}

.form {
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 16px;
  width: 100%;
  max-width: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form_group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #dcdcdc;
  color: #000;
  font-size: 1rem;
  resize: none;
}

textarea {
  border: 2px solid #007bff;
}

.submit_button {
  background-color: #007bff;
  color: #fff;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  align-self: center;
  width: 150px;
}

.submit_button:hover {
  background-color: #0056b3;
}

.container_spinner {
  display: flex;
  width: 100;
  justify-content: center;
  height: 30px;
}

.separator {
  margin: 1.5rem 0;
  border: 1px solid #333;
}

.download_button {
  background-color: #007bff;
  color: #fff;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.download_button:hover {
  background-color: #0056b3;
}

.contact_links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.9rem;
  color: white;
  text-align: center;
}

.contact_links a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: color 0.3s ease;
}

.contact_links a:hover {
  color: #007bff;
}
