/* Reset básico */
.container {
  width: 100%;
}

/* Encabezado */
.header h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.description-header h3 {
  font-size: 2rem;
  color: #3b82f6; /* Azul moderno */
  text-align: center;
  margin-top: 0.5rem;
}

.btn-header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn-header button {
  background-color: #3b82f6;
  color: white;
  padding: 0.8rem 1.7rem;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: 1.5rem;
}

.btn-header button:hover {
  background-color: #2563eb;
}

/** ------------------- SECCION 1 ----------------------------------*/
/* SECCIÓN SOBRE MÍ */
.section1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Texto sobre mí */
.aboutMe {
  flex: 1;
  background-color: #2e2e2e;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  height: 420px;
}

.aboutMe h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0px;
  color: #ffffff;
}

.aboutMe-text p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #d4d4d4;
}

/* Foto y texto al lado */
.photo-text {
  flex: 1;
  text-align: center;
  position: relative;
}

.photo-text .text {
  font-size: 2rem;
  font-weight: bold;
  color: #facc15; /* amarillo moderno */
  margin-bottom: 1rem;
  margin-top: 0px;
}

.photo-text .photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-text img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #3b82f6;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in;
}

.photo-text img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/** ------------------- SECCION 2 ----------------------------------*/
.section2 {
}

/** ------------------- SECCION 3 ----------------------------------*/
.section3 {
  margin: 50px 0 50px 0;
}
